
/* Override Bootstrap */


/* Override Bootstrap */

.tag {
    /*font-size: 24px;*/
    /*padding:3px;*/
    /*height:35px;*/
    /*margin-top:10px;*/
    text-transform: uppercase;
}

#tagsDiv {
    text-transform: uppercase;
}

div.facets ul li span.label {
    cursor: pointer;
}

#followQuestion {
    margin-bottom: 1em;
}

#followQuestion i {
    cursor: pointer;
}

#followQuestion i.fa-star {
    color: #e3cf7a;
}
