
/* Override Bootstrap */
.label {
    padding: 0.4em 0.6em 0.3em;
    margin-right: .5em;
}

/* Override Bootstrap */

.tag {
    text-transform: uppercase;
}

#tagsDiv {
    text-transform: uppercase;
}

div.facets ul {
    list-style-type: none;
    padding-left: .5em;
    margin-bottom: 1.5em;
}

div.facets li {
    font-size: .8em;
}

div.facets ul li span.label {
    cursor: pointer;
}

#followQuestion {
    margin-bottom: 1em;
}

#followQuestion i {
    cursor: pointer;
}

#followQuestion i.fa-star {
    color: #e3cf7a;
}

/** Question Detail **/

#imageViewer {
    height: 350px;
    margin-bottom: 1em;
}

#map {
    height: 350px;
}

#tags-group {
    margin-top: 1em;
}

.btnRemoveTag {
    color: white;
}

.btnRemoveTag:hover {
    color: darkgrey;
}
