
/* Override Bootstrap */

.label {
    padding: 0.4em 0.6em 0.3em;
    margin-right: .5em;
}

.modal {
    text-align: center;
}

.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.panel-default > .panel-heading {
    border: none;
}

.heading-medium {
    margin-top: 0 !important;
}

.nav-pills.nav-stacked li a:hover {
    background-color: #DA644E;
    color: white;
}

/* Override Bootstrap */

/* Common */

sup.beta-badge {
    color: #da644e;
    font-weight: lighter;
}

.tag {
    text-transform: uppercase;
}

.tag-follow-button:hover {
    color: #da644e !important;
}

.activity-summary {
    text-align: right;
}

#tagsDiv {
    text-transform: uppercase;
}

.disable-btn-tooltip {
    display: inline-block;
}

.textarea-preview {
    padding: .8em 1em;
    border: solid 1px #d7d7d7;
}

.question-comment .textarea-preview {
    min-height: 153px;
}

.answer-comment .textarea-preview {
    min-height: 221px;
}

/*Comment List styles*/
.comment-list .row {
    margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
    padding: 4px 15px;
    position: absolute;
    border:none;
    /*Panel-heading border radius*/
    border-top-right-radius:0px;
    top: 1px;
}
.comment-list .panel .panel-heading.right {
    border-right-width: 0px;
    /*Panel-heading border radius*/
    border-top-left-radius:0px;
    right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
    padding-top: 6px;
}
.comment-list figcaption {
    /*For wrapping text in thumbnail*/
    word-wrap: break-word;
}

.comment-list .panel {
    box-shadow: none !important;
}

.comment-list .comment-post {
    margin-top: 6px;
}

.comment-list .comment-user, .comment-list .comment-date {
    color: #5f5d60;
    font-size: small;
}

.comment-list .comment-padding {
    padding-left: 10px !important;
}


/* Common */

div.facets ul {
    list-style-type: none;
    padding-left: .5em;
    margin-bottom: 1.5em;
}

div.facets li {
    font-size: 1em;
    margin-bottom: .5em;
}

div.facets ul li span.label {
    cursor: pointer;
}

#followQuestion {
    margin-bottom: 1em;
}

#followQuestion i {
    cursor: pointer;
}

#followQuestion i.fa-star {
    color: #e3cf7a;
}

.question-thumb {
    text-decoration: none !important;
}

.question-thumb:hover {
    border-color: #DA644E !important;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(218, 100, 78, 0.45);
    -moz-box-shadow:    2px 2px 4px 0px rgba(218, 100, 78, 0.45);
    box-shadow:         2px 2px 4px 0px rgba(218, 100, 78, 0.45);
}

.question-thumb img{
    width: 150px;
    margin: 0 !important;
}

.question-thumb .caption {
    font-size: .8em;
    font-weight: normal;
    padding: 5px 5px 0 !important;
    margin: 0;
}

.contrib-stats .cp {
    padding-bottom: .5em;
}

.contrib-stats .cp.accepted {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}


/** Question Detail **/

.form-group.question-comment {
    margin-top: 1.5em;
}

#imageViewer {
    height: 350px;
}

.image-thumbs {
    margin-top: 1em;
}

.image-thumbs img {
    margin-top: 10px !important;
}

.image-thumbs .nbs-flexisel-inner {
    float: none;
}

#map {
    height: 350px;
}

#tags-group span {
    margin-top: 1em;
    display: inline-block;
    padding: 4px 3px 3px;
}

.btnRemoveTag {
    color: white;
}

.btnRemoveTag:hover {
    color: darkgrey;
}

#userSwitch {
    position: absolute;
    right: 15px;
    top: -5px;
}

#commentsPane {
    margin-top: 1em;
}

.panel.panel-default.answer h4 {
    padding-bottom: 10px;
}

.panel.panel-default.answer .panel-heading.answer-panel ul.list-inline {
    margin-top: 5px;
}

.public_comment button.close {
    text-align: left;
}

.votes {
    margin-top: 1em;
}

.voting-group .fa-thumbs-up {
    color: green;
}

.voting-group .fa-thumbs-down {
    color: red;
}

.answer-comments .row .comment .body{
    margin: 0 1em;
    padding-bottom: .5em;
    border-top: 1px solid #efefef;
}

.answer-comments .row:first-child .comment .body{
    border-top: none;
}

.answer-comments .comment .body div[class^='col-'] {
    padding: 0;
}

.accept-answer-btn {
    float: right;
    margin-top: 7px;
}

.panel-success {
    border-color: #d6e9c6;
}

.panel-success > .panel-heading {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.panel-success > .panel-footer {
    background-color: #f2faef;
    border-color: #d6e9c6;
}

.panel-footer.answer-comments {
    background-color: white !important;
}

.question-heading {
    border: none;
    background-color: white !important;
}

.comment-author {
    color: #c44d34;
}

.panel-body.answer-panel-body {
    padding-top: 0 !important;
}

.answer .comment-list {
    padding: 1em .8em 0;
}

/** Activity summary */
.profile-gravatar {
    display: inline-block !important;
}

.profile-gravatar img {
    margin: 0 !important;
}

#summary .tab-content form {
    margin-top: 2em
}

#summary .tab-content input[type=checkbox] {
    position: relative;
}

.summary-thumbnails {
    margin-top: 2em;
}

.summary-thumbnails a {
    text-align: center;
}

.summary-thumbnails a:hover {
    text-decoration: none !important;
    border-color: #DA644E !important;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(218, 100, 78, 0.45);
    -moz-box-shadow:    2px 2px 4px 0px rgba(218, 100, 78, 0.45);
    box-shadow:         2px 2px 4px 0px rgba(218, 100, 78, 0.45);
}

.summary-thumbnails img {
    margin: 0 !important;
}

.summary-thumbnails .caption {
    margin: 0 !important;
    font-size: 1em;
    font-weight: normal;
    padding: 5px 5px 0 !important;
}

/** Media Queries **/

@media only screen and (min-width : 768px) and (max-width: 1200px) {
    .votes > .contrib-number {
        margin-top: 0;
    }
}

@media only screen and (min-width : 768px) and (max-width: 992px) {
    .heading-medium {
        margin-top: 2em !important;
    }
}

@media only screen and (max-width : 768px) {
    .heading-medium {
        margin-top: 1em !important;
    }
}

@media only screen and (max-width: 992px) {
    .facets {
        margin: 1.5em
    }

    .activity-summary {
        text-align: left;
    }
}

@media only screen and (max-width: 468px) {
    .sorting-buttons a > span {
        display: none;
    }
}

@media (min-width: 768px) {
    .comment-list .arrow:after, .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
    }
    .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
        border-left: 0;
    }
    /*****Left Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.left:before {
        left: 0px;
        top: 20px;
        /*Use boarder color of panel*/
        border-right-color: inherit;
        border-width: 11px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 21px;
        /*Change for different outline color*/
        border-right-color: #FFFFFF;
        border-width: 10px;
    }
    /*****Right Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 20px;
        /*Use boarder color of panel*/
        border-left-color: inherit;
        border-width: 11px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 21px;
        /*Change for different outline color*/
        border-left-color: #FFFFFF;
        border-width: 10px;
    }
}




